@font-face {
    font-family: mainFont;
    src: url(../assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf);
}

:root{
    margin: 0 auto;
    --columns: 3;
    --containerwidth: 450px;
    --feldgroesse: var(--containerwidth) / var(--columns);
    
}

body{
    margin: 0 auto;
    text-align: center;
    font-family: mainFont;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
}

footer,header,main,.content {
    width: 100%;
}

main{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    border-top: 1px solid black;
    padding: 1em;
    text-align: center;
}

h1{
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: black;
    transition: 0.3s;
}

h1:hover{
    transform-origin: center;
    transform: scale(1.1);
}


a{
    padding: 15px 32px;
    text-decoration: none;
    color: black;
}

nav{
    text-align: center;
    padding-bottom: 14px;
    white-space: nowrap;
}

nav a{
    transition: 0.2s;
    border-radius: 20px;
}

nav a:hover{
    background-color: black;
    color: white;
}

.navActive {
    background-color: black;
    color: white;
}

button{
    background-color: #f4511e;
    display: flexbox;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border: 1px solid #f4511e;
    border-radius: 15px;

}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
    
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
}
.text {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text p {
    width: 100%;
}

.text button {
    width:fit-content;
}

p {
    width: 60%;
}

/*.text p::first-letter{
    font-size: 3em;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid black;
    color: #f4511e;
}*/

#hfu_bild {
    width: 50%;
    transition:0.3s;
}

#hfu_bild:hover{
    transform: scale(0.95);
}

.setting {
    background-color: white;
    box-shadow: 0 0 20px -10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: max-content;
    border-radius: 20px;
    
}
.slider{
    margin: 0em 1em;
}

h2 {
    margin: 0;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 5px;
}

.iconAuswahl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.previewIcon {
    object-fit: contain;
    transition: 0.3s;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.previewIcon:hover {
    opacity: 50%;
    transform: scale(1.1);
}

.resetButtons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resetButtons button {
    padding: 10px 15px;
}


#spiel {
    display: grid;
    grid-template-columns:  repeat(var(--columns),auto);
    column-gap: 0px;
    width: var(--containerwidth);
    height: var(--containerwidth);
    margin: 0 auto;
    padding: 1em;
}

.board.x .grid-item:hover {
}

.grid-item {
    background-color: rgb(255, 255, 255);
    width: var(--feldgroesse);
    height: var(--feldgroesse);
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }

.icon {
    image-rendering: auto;
    object-fit: contain;
    height: 75%;
    width: 80%;
    will-change: transform;
    animation: appear 0.3s cubic-bezier(0.5,1.2,0.1,1.1);
   
}

@keyframes appear {
    0% {
    transform: scale(0.3);
    opacity: 0%;
    filter: blur(2px);
    }
  100% {
    transform: scale(1);
    opacity: 100%;
    filter: blur(0px);
    }
}